[Unit]
Description=Resize root filesystem on first boot

[Service]
Type=oneshot
ExecStart=/usr/libexec/resize_rootfs.sh
StandardOutput=journal

[Install]
WantedBy=multi-user.target
